/*@custom-media --viewport-4 (min-width: 480px);*/
/*@custom-media --viewport-7 (min-width: 768px);*/
/*@custom-media --viewport-9 (min-width: 992px);*/
/*@custom-media --viewport-12 (min-width: 1200px);*/


body {
    overflow-x: hidden;
}



@media only screen and (max-width: 990px) {
    .activities-row {
        flex-direction: column;
        height: auto !important;
    }

    .col.aos-init.aos-animate>i {
        float: unset !important;
        padding: 0 !important;
    }

    .col.aos-init.aos-animate>div.col-50 {
        width: 100% !important;
    }

    .col {
        width: 100% !important;
    }

    .algo-card {
        float: unset !important;
        padding: 0;
        width: 80% !important;
        margin: auto !important;
    }

    .iconss {
        order: -1;
    }
}














@media only screen and (max-width: 1440px) {
    .algo-card {
        width: 70%;
    }
}